main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

a {
    transition: all ease-in-out 0.2s;
}

a:hover {
    transition: all ease-in-out 0.2s;
    transform: scale(1.03);
}

.listingCards {
    min-height: 30rem;
    width: 25rem;
    overflow: hidden;
    border: 0.1rem solid #E8E8E8;
    border-radius: 1rem;
}

.listingCards img {
    width: 25rem;
    height: 20rem;
    padding: 0;
    margin: 0;
}

.listingInfo {
    display: flex;
    flex-direction: column;
    min-height: 10rem;
    padding: 0;
}

.headInfo, .description {
    padding: 0.1rem 0.4rem;
    padding-top: 0;
}

.headInfo {
    background-color: #b1c29e67;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.headInfo p {
    margin: 0;
}

.headInfo .headInfoTitle {
    font-weight: 600;
    text-align: start;
}

.headInfo .headInfoDetails {
    font-size: smaller;
    text-align: end;
}

.price {
    font-size: medium;
}

.description {
    padding-bottom: 0;
    margin-bottom: 0;
    color: #E8E8E8;
    flex: 1;
    height: 100%;
    font-weight: 500;
    background-color: #d6bd988e;
}

@media (max-width: 460px) {
    .listingCards {
        width: 20rem;
    }
}

@media (max-width: 360px) {
    .listingCards {
        width: 15rem;
    }
}