<footer>
    <div class="hrFooter"></div>
    
    <div class="footer">
        <div class="about">
            <a href="">About Us</a>
            <div class="hover"></div>
        </div>
    
        <div class="contact">
            <a href="">Contact Us</a>
            <div class="hover"></div>
        </div>

        <div class="copyright">
            <a href="">&copy; Copyright 2025</a>
            <div class="hover"></div>
        </div>
    
        <div class="locate">
            <a href="">Locate Us</a>
            <div class="hover"></div>
        </div>
    
        <div class="privacy">
            <a href="">Privacy Policy</a>
            <div class="hover"></div>
        </div>
    
    </div>
</footer>