<header>
    <nav>
        <div class="navigate">
            <div class="logo">
                <a href="http://localhost:8080/listings">
                    <img src="/travel.svg" alt="logo" srcset="">
                </a>
            </div>

            <div class="homeButton">
                <a href="http://localhost:8080/listings">Home</a>
                <div class="hover"></div>
            </div>

            <div class="vewButton">
                <a href="http://localhost:8080/listings">View All Listings</a>
                <div class="hover"></div>
            </div>

            <div class="addButton">
                <a href="http://localhost:8080/listings/add">Partner With Us</a>
                <div class="hover"></div>
            </div>

        </div>

        <div class="user">
            <% if (!currUser) { %>
                <div class="sigup">
                    <a href="http://localhost:8080/users/signup">Sign Up</a>
                    <div class="hover"></div>
                </div>

                <div>
                    <a href="http://localhost:8080/users/login">Log In</a>
                    <div class="hover"></div>
                </div>
            <% } %>
            
            <% if (currUser) { %>
                <div class="username">
                    <img src="/user.svg" alt="user" srcset="">

                    <div>
                        <a href="#"><%= currUser.username %></a>
                        <div class="hover"></div>
                    </div>
                </div>
                
                <div class="logout">
                    <a href="http://localhost:8080/users/logout">Log Out</a>
                    <div class="hover"></div>
                </div>
            <% } %>
            
        </div>
    </nav>
</header>

<% if ((success && success.length)) { %>
    <div class="flash successFlash" id="flashDiv">
        <p>
            <%= success %>
        </p> 

        <button type="button" id="closeFlash">
            <img src="/close.svg" alt="close">
        </button>
    </div>    
<% } %>

<% if ((error && error.length)) { %>
    <div class="flash errorFlash" id="flashDiv">
        <p>
            <%= error %>
        </p> 

        <button type="button" id="closeFlash">
            <img src="/close.svg" alt="close">
        </button>
    </div>    
<% } %>