main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    margin-top: 1rem;
}

.image img {
    height: 25rem;
    width: 35rem;
    border-radius: 2rem;
}

.description h3 {
    text-align: center;
    font-style: italic;
}

.listingInfo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.listingInfo p {
    margin: 0.8rem 0;
}

.actionForm {
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.actionForm div {
    grid-template-columns: 1fr;
    border: none;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
}

.reviewsHead {
    display: flex;
    justify-content: center;
}

.reviewsHead h2 {
    display: inline-block;
}

.reviewForm {
    margin-top: 0;
    width: 30rem;
    flex-direction: column;
}

.starability-heartbeat {
    display: flex;
    width: 100%;
    justify-content: center;
}

.starability-heartbeat label {
    background-color: transparent;
    border: none;
}

.ratingInp:hover fieldset label {
    border: none;
}

.showReviews {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    max-width: 70rem;
}

.showReviews .reviewCards {
    border: 0.1rem #e8e8e8 solid;
    background-color: #021526bd;
    padding: 0.5rem;
    min-width: 15rem;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.6rem;
}

.reviewComment {
    flex: 1;
}

.reviewAction {
    text-align: center;
}

.delReviewForm {
    padding: 0;
    margin: 0.5rem;
}

.delReviewForm div {
    padding: 0;
    grid-template-columns: 1fr;
    border: none;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
}

@media (max-width: 550px) {
    .image img {
        height: 10rem;
        width: 25rem;
    }

    .reviewForm {
        width: 25rem;
    }
}